body{
  
    background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ),
      url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
}
#title{
    color: white;
    font-size: 3em;
    margin-bottom:0;
    text-align: center;
}
#description{
    color: white;
    font-style: italic;
    font-size: 1.5em;
    margin: 0;
    margin-top: 10px;
    text-align: center;
}
form{
    background-color: rgba(27, 27, 50, 0.8);
    margin:0 auto;
    width: 60%;
    padding: 50px 30px;
}
#name, #email, #age,  select, textarea, .submit{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 30px;
    
}
#name,#email,#age {
margin-bottom: 10px;

}
label{
    display: block;
    color: white;
}
.radio-fieldset{
    margin: 0 auto;
    border: none;
}
.radio{
    
    display: inline;
}
.radio-p{
    color: white;
    text-align: left;
}
#select2, #select1, #fieldset1{
    border: none;
}
.checkbox-f,.textarea-f{
    border: none;
}
p{
   color: white; 
}
